.console-output {
    padding: 1em;
    background-color: black;
    color: white;
    font-family: verdana;
    font-size: 14px;
    line-height: 19px;
	font-weight: 400;
    
}

.console-output a:link {
    color: #b088ff;
}

.console-output a:visited {
    color: #8888ff;
}
